{
	"env": {
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"arrowFunctions": true,
			"binaryLiterals": true,
			"blockBindings": true,
			"classes": true,
			"defaultParams": true,
			"destructuring": true,
			"generators": true,
			"objectLiteralComputedProperties": true,
			"objectLiteralShorthandMethods": true,
			"objectLiteralShorthandProperties": true,
			"octalLiterals": true,
			"regexUFlag": true,
			"regexYFlag": true,
			"spread": true,
			"superInFunctions": true,
			"unicodeCodePointEscapes": true
		},
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"plugins": [],
	"rules": {
		"array-bracket-spacing": [1, "never"],
		"brace-style": [1, "1tbs", {"allowSingleLine": true}],
		"camelcase": 0,
		"comma-dangle": [2, "never"],
		"comma-spacing": [1, {"before": false, "after": true}],
		"constructor-super": 2,
		"curly": [0, "all"],
		"dot-notation": 1,
		"eol-last": 0,
		"eqeqeq": 2,
		"indent": 0,
		"func-style": 0,
		"handle-callback-err": [2, "^.+Error$"],
		"jsx-quotes": [1, "prefer-double"],
		"new-cap": [2, {
			"capIsNewExceptions": [
				"Array",
				"Boolean",
				"Date",
				"Error",
				"Function",
				"Number",
				"Object",
				"RegExp",
				"String",
				"Symbol",
				"Trianglify",
				"List",
				"Map",
				"OrderedMap",
				"Set",
				"OrderedSet",
				"Stack",
				"Range",
				"Repeat",
				"Record",
				"Seq",
				"KeyedSeq",
				"IndexedSeq",
				"SetSeq",
				"Iterable",
				"KeyedIterable",
				"IndexedIterable",
				"SetIterable",
				"Collection",
				"KeyedCollection",
				"IndexedCollection",
				"SetCollection"
			]
		}],
		"new-parens": 1,
		"no-array-constructor": 2,
		"no-cond-assign": [1, "except-parens"],
		"no-console": 0,
		"no-control-regex": 0,
		"no-delete-var": 1,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-else-return": 1,
		"no-empty-character-class": 1,
		"no-ex-assign": 2,
		"no-extend-native": 2,
		"no-extra-bind": 1,
		"no-extra-boolean-cast": 1,
		"no-extra-parens": [1, "functions"],
		"no-extra-semi": 1,
		"no-floating-decimal": 1,
		"no-func-assign": 2,
		"no-inner-declarations": [2, "both"],
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 1,
		"no-lone-blocks": 1,
		"no-lonely-if": 1,
		"no-loop-func": 2,
		"no-mixed-requires": [1, true],
		"no-multi-spaces": 1,
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
		"no-multi-str": 1,
		"no-multiple-empty-lines": [2, {"max": 2}],
		"no-native-reassign": 2,
		"no-negated-in-lhs": 2,
		"no-nested-ternary": 2,
		"no-new": 2,
		"no-new-func": 1,
		"no-new-object": 2,
		"no-new-require": 2,
		"no-new-wrappers": 1,
		"no-obj-calls": 2,
		"no-octal": 1,
		"no-octal-escape": 1,
		"no-redeclare": 2,
		"no-regex-spaces": 1,
		"no-return-assign": 1,
		"no-self-compare": 1,
		"no-sequences": 1,
		"no-shadow": 1,
		"no-shadow-restricted-names": 1,
		"no-spaced-func": 0,
		"no-ternary": 0,
		"no-this-before-super": 2,
		"no-throw-literal": 2,
		"no-trailing-spaces": [2, {skipBlankLines: true}],
		"no-undef": 0,
		"no-undef-init": 1,
		"no-undefined": 0,
		"no-underscore-dangle": 0,
		"no-unexpected-multiline": 2,
		"no-unneeded-ternary": 2,
		"no-unreachable": 2,
		"no-unused-expressions": 1,
		"no-unused-vars": 1,
		"no-use-before-define": 2,
		"no-var": 2,
		"no-void": 2,
		"no-with": 2,
		"object-curly-spacing": [1, "never"],
		"object-shorthand": 2,
		"operator-assignment": [1, "always"],
		"operator-linebreak": [1, "before"],
		"prefer-const": 0,
		"quotes": [0, "double", "avoid-escape"],
		"quote-props": [2, "as-needed"],
		"radix": 0,
		"semi": [2, "always"],
		"keyword-spacing": 2,
		"space-before-blocks": [2, "always"],
		"space-infix-ops": [2, {"int32Hint": false}],
		"strict": [0, "never"],
		"use-isnan": 2,
		"valid-typeof": 2,
		"wrap-iife": 0,
		"wrap-regex": 0,
		"yoda": [2, "never", {
			 "exceptRange": false,
			 "onlyEquality": false
		}]
	}
}
